@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

html{
	background: url(../images/boat-background.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
    background: transparent;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
}

.page-container {
    margin: 200px auto 0 auto;
    border-size: 2px;
    border-style: solid;
}

h1 {
	font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
	font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin-bottom: 10px;
}

#blox{

    height: 271px;
    width: 320px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: none;
    -webkit-box-shadow: none;
    
}

.callout{
    margin-right: 40px;
    margin-left: 40px;
}

#map-canvas{
  min-height: 100px;
  min-width: 100px;
}
